@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ultimate-dark text-ultimate-text;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-ultimate-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-ultimate-border rounded-full hover:bg-ultimate-dim;
}